.footer {
  @include rem(padding-bottom, 15px);
  @include rem(padding-top, 29px);
  background: $color-darkest-gray;
  overflow: hidden;
  text-align: center;
  .icon {
    @include rem(height, 18px);
    @include rem(width, 30px);
    background: url('../images/icons/social.png') no-repeat;
    background-size: cover;
    display: inline-block;
    a {
      font-size: 0;
    }
    &.fb {
      background-position: 0 0;
    }
    &.tw {
      @include rem(background-position, -33px 0);
    }
    &.gp {
      @include rem(background-position, -72px 0);
    }
  }
  .copyright {
    @include rem(margin-top, 28px);
    @include rem(padding-top, 21px);
    border-top: 1px solid $color-gray;
    p {
      color: $color-dark-silk;
    }
  }
}
