.involve {
  @include rem(padding-bottom, 16px);
  @include rem(padding-top, 15px);
  .view-rows {
    @include rem(padding-top, 21px);
  }
  .field-img {
    img {
      @include rem(height, 108px);
      width: auto;
    }
  }
  .field-title {
    @include rem(padding-top, 12px);
    h3 {
      @include rem(margin-bottom, 16px);
    }
    a {
      @include rem(font-size, 17px);
      color: $color-gray;
      font-family: $sub-font;
    }
  }
  .field-description {
    @include rem(line-height, 22px);
  }
  .field-link {
    @include rem(margin, 24px 0);
    a {
      @include transparent-btn;
      @include rem(width, 207px);
      max-width: 100%;
    }
  }
}
