/* color */
$white: #fff;
$black: #000;

$color-blue: #5dc0c9;
$color-light-blue: #61c0bd;
$color-dark-blue: #26bdb9;
$color-sea: #5ac0cf;
$color-darkest-gray: #45484d;
$color-gray: #575656;
$color-light-gray: #5b6172;

$color-dark-silk: #989eac;
$color-silk: #f2f2f2;
$color-hr: #d9dadd;


// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&subset=latin-ext');
@include font('museosans', museosans500);
@include font('Museo Sans W01 Rounded 300', MuseoSansRounded300);
@include font('Museo Sans W01 Rounded 500', MuseoSansRounded500);
$main-font: 'Open Sans', sans-serif;
$sub-font: 'museosans', sans-serif;
$museoR3: 'Museo Sans W01 Rounded 300', sans-serif;
$museoR5: 'Museo Sans W01 Rounded 500', sans-serif;
$light: 300;
$normal: 400;
$bold: 700;
